﻿<h1>
    Part 1: GitHub username search
</h1>
<p>
    Use the text field below to find out what the most used programming language is in your GitHub account based on your repositories.
</p>

<p>
    Click on a user name to see their most used programming language!
</p>

<div class="search-area">
    <input type="search" placeholder="username" ng-model="userName" />

    <div class="suggestions slideable">
        <div ng-show="entries.length > 0" class="autocomplete-item" ng-repeat="entry in entries | filter:searchText">
            <div class="autocomplete-item-image">
                <img src="{{entry.avatar_url}}" title="{{entry.login}}">
            </div>
            <div class="autocomplete-item-content">
                <h1><a class="ng-link" ng-click="getTopProgrammingLanguageForUserName(entry.login)">{{entry.login}}</a></h1>
            </div>
        </div>
        <div ng-show="entries.length < 1">
            <p>
                Oops! No results
            </p>
        </div>
    </div>
    
</div>

<div class="result">
    <div class="result-loader" ng-show="programmingLanguageLoading">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
    <div class="result-inner" ng-hide="noRepositoriesFound || programmingLanguageLoading">
        <p>
            Based on your repositories, we found that your favourite coding language is:
        </p>

        <p >
            <span class="tag" >
                <a target="_blank" href="https://github.com/search?utf8=%E2%9C%93&q=language:{{topProgrammingLanguageResult | urlEncode}}&type=Repositories&ref=advsearch">
                    <i class="fa fa-external-link-square" aria-hidden="true"></i>
                    {{topProgrammingLanguageResult}}
                </a>             
            </span>    
        </p>

        <hr/>

        <h3>
            {{user}}'s <strong>{{topProgrammingLanguageResult}}</strong> repositories ({{repositories.length}})
        </h3>
        <ul class="repositories">
            <li ng-repeat="repo in repositories">
                <a target="_blank" href="{{repo.html_url}}">{{repo.name}}</a>
            </li>
        </ul>
    </div>
    <div class="result-inner" ng-hide="!noRepositoriesFound">
        <p ng-show="user.length > 0">
            Oops, this user doesn't have any repositories!
        </p>
    </div>
    <div class="results-inner initial" ng-show="entries === null">
        <p>
            Start searching for a user name
        </p>
    </div>
</div>
