﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-gb" ng-app="ajb.Unboxed.CodingExercise">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unboxed Coding Exercise - Adam Bull</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    @Styles.Render("~/bundles/styles")
</head>
<body>

   
    <section ng-view>
    </section>

    <section>
        <h1>
            Part 2: CSS demonstration
        </h1>
        <div class="css-demonstration">
            <div class="css-demonstration-avatar">
                <img src="~/images/horse.png" title="horse_js" />
            </div>
            <div class="css-demonstration-content">
                <strong>
                    horse_js
                </strong>
                <p>
                    as much as I want to be, I'm not <a href="#">@@horse_js</a>
                </p>
            </div>
            <div class="css-demonstration-timeago">
                <time datetime="@DateTime.Now.AddDays(-7).ToLongDateString()">
                    7 days
                </time>
            </div>
        </div>
    </section>

    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/spa")
</body>
</html>
