﻿@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'base/normalize';
@import 'base/variables';

@import 'modules/spinner';
@import 'modules/css-demonstration';

// modules
@import 'modules/autocomplete';

body {
   background: $light-grey;
   font-family: $sans;
   font-style: normal;
   font-weight: normal;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $input-colour;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $input-colour;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $input-colour;
}
:-moz-placeholder { /* Firefox 18- */
  color: $input-colour;
}

p {
    max-width: 100%;
    padding-right: 5%;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

section {
    @include outer-container;

    margin: 25px auto;
    background-color: white;
    padding: 1rem;
    border-radius: $border-radius;

    .search-area, .result {
        min-height: 85px !important;
    }

    div.search-area {
        @include span-columns(6);
        background: #ffe;
        padding: 10px;
        border-radius: $border-radius;
        border: 1px solid $border-colour;
        position: relative;

        &:before {
            position: absolute;
            top: 19px;
            left: 19px;
            font-weight: bold;
            color: $input-colour;
            height: 10px;
            width: 10px;
            z-index: 1;
            font-size: 16px;
            content: '@';
            display: inline-block;
        }

        div.suggestions {
            div.entry {
                clear: both;
                div.entry-avatar {
                    @include span-columns(2);
                    img {
                        width: 100%;
                    }
                }
                div.entry-login {
                    @include span-columns(10);
                    a {
                        background-color: rgba(255,255,140,0.5);
                        border-radius: 3px;
                        padding: 3px;
                        font-style: normal;
                        color: #4078c0;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    div.result {
        @include span-columns(6);
        border-radius: $border-radius;
        border: 1px solid $light-grey;
        min-height: 50px;
        height: auto;
        padding: 1rem;

        span.tag {
            padding: 1rem;
            background: $blue;
            color: white;
            border-radius: $border-radius;
            margin: 10px auto;
            display: inline-block;
            width: auto;

            a {
                text-decoration: none;
                color: inherit;

            }
        }

        ul.repositories {
            list-style: none;
            padding: 0;

            li {
                margin: 5px auto;

                a {
                    color: $blue;
                    text-decoration: none;

                    &:hover {
                        color: darken($blue, 10%);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .search-area, .result {
        display: block !important;
        width: 100% !important;
        margin-top: 10px;
    }
    .search-area {
        .suggestions {
            h1 {
                a {
                    font-size: .9rem;
                }
            }
        }
    }
    .css-demonstration {
        padding: 14px 10px 14px 10px;
        .css-demonstration-content {
            padding-left: 10px;
        }
    }
    section {
        max-width: 362px;
    }
}