﻿.search-area {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.5em !default;
  $base-line-height: 1.5em !default;
  //////////////////////////////////////////////////////////////////////////////////

  $search-bar-border-color: $light-grey;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);

  position: relative;

  input[type=search] {
    background-color: white;
    color:$input-colour;
    border: 1px solid $light-grey;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    padding-left: 24px;
    position: relative;
    transition: border-color;
    text-transform: lowercase;
    width: 100%;
  }

  button[type=submit] {
    @include position(absolute, 0 0 0 null);
    outline: none;
    padding: 5px 10px;

    img {
      height: 12px;
      opacity: 0.7;
    }
  }
}


.suggestions {
    margin: 15px auto;

    .autocomplete-item {
      $base-border-radius: 3px !default;
      $base-spacing: .5em !default;
      $action-color: #477DCA !default;
      $dark-gray: #333 !default;
      $base-font-color: $dark-gray !default;
      $autocomplete-item-gutter: 1.4em;
      $autocomplete-item-image-padding: 0.7em;
      $autocomplete-item-image-width: 4em;
      $autocomplete-item-color: $base-font-color;
      $autocomplete-item-detail-color: transparentize($autocomplete-item-color, 0.5);
      $autocomplete-item-image-vert-alignment: middle;

      display: table;
      width: 100%;

      .autocomplete-item-image,
      .autocomplete-item-content {
        display: table-cell;
        vertical-align: $autocomplete-item-image-vert-alignment;
      }

      .autocomplete-item-image {
        padding-right: $autocomplete-item-gutter;

        > img {
          border-radius: $base-border-radius;
          display: block;
          height: auto;
          max-width: none;
          padding: $autocomplete-item-image-padding;
          width: $autocomplete-item-image-width;
        }

        .autocomplete-item-reverse-order & {
          padding-left: 10px;
          padding-right: 0;
        }
      }

      .autocomplete-item-content {
        width: 100%;

        h1 {
          font-size: 1.35em;
          margin: 0 0 0.5em 0;
          word-wrap: break-word;
          max-width: 170px;
          width:auto;

           a {
               cursor:pointer;

               &:hover {
                   color: $blue;
               }
           }
        }

        p {
          line-height: 1.5em;
          margin-bottom: 0.5em;
        }

        p.autocomplete-item-detail {
          color: $autocomplete-item-detail-color;
          font-size: 0.9em;
          font-style: italic;


          a {
             color: $grey;
             text-decoration: none;
          }
        }
      }
    }
}