﻿
.css-demonstration {
    display: table; 
    width: $demonstration-width;
    max-width: 480px;
    position: relative;
    background-color: $background-colour-top-gradient;
    background-image: -webkit-linear-gradient($background-colour-top-gradient, $background-colour-bottom-gradient);
    background-image: linear-gradient($background-colour-top-gradient, $background-colour-bottom-gradient);
    border: 1px solid $border-colour;
    padding: 8px 10px 8px 10px;

    & > div {
        display: table-cell;
        vertical-align: middle;
    }

    .css-demonstration-avatar {
        img {
            width: 50px;
            border-radius: $border-radius;
            border: 1px solid $border-colour;
        }
    }
    .css-demonstration-content {
        margin-top: -1px;

        strong, p {
            letter-spacing: -.5px;
            font-weight: 500;
        }

        p {
            margin:0;
        }

        strong {
            font-weight:800;            
        }

        a {
            color: $link-colour;
            font-weight: bold;
            text-decoration: none;
        }
    }

    .css-demonstration-timeago {
        position: absolute;
        vertical-align: top;
        top: 15px;
        right: 10px;
        font-size: 12px;

        time {
            color:$timeago-colour;
        }
    }
}