﻿// global
$sans:'Open Sans', sans-serif;
$border-radius: 5px;
$input-colour: #555;

// part 1 - github username search
$grey: #d8d8d8;
$light-grey: #f9f9f9;
$blue: #0094ff;

// part 2 - css demo
$background-colour-top-gradient: #fafafa;
$background-colour-bottom-gradient: #f7f7f7;
$timeago-colour: #b5b5b5;
$bold-colour:#25272F;
$border-colour:#ededed;
$right-gutter: 6px;
$link-colour: #889294;
$demonstration-width: 100%;